*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  flex-direction: column;
  margin-top: 300px;
}

.container h1 {
  font-size: 48px;
  font-weight: 400;
}

.container span {
  margin-top: 20px;
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.btn {
  margin-top: 40px;
  margin-left: 20px;
  padding-left: 2px;
  height: 40px;
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: black;
  background: transparent;
  letter-spacing: 3px;
}

.btn .reset {
  width: 100px;
}